<header id="header">
  <div id="header_wrapper">
    <div id="header_site_title">
      DESAFIO BACKEND
    </div>
    <div id="header_social">
      <%= link_to('https://www.linkedin.com/in/devaniljr/') do %>
        <button id="header_social_button">
          <p id="text_button">enviar arquivo</p>
        </button>
        <% end %>
    </div>
  </div>
</header>
